<!-- Disclaimer Page Content [Started here] -->
<div class="container">
    <div class="text-center p-3">
        <div class="form-group">
            <h2 class="font-52">Disclaimer</h2>
        </div>

        <!-- Disclaimer Internal Content [Started here]-->
        <div class="form-group border border-none p-3">
            <label for="">
                Disclaimer content will go here...
            </label>
        </div>
        <!-- Disclaimer Internal Content [Ended here]-->
    </div>
</div><!-- Disclaimer Page Content [Ended here] -->