<!-- Door Slider Tab Content for Different Tabs [Started here] -->
<div>
    <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all" role="tab">{{TabHeading}}</a>
        </li>
    </ul><!-- Tab panes -->

    <!-- Door Category - TAB CONTENT -->
    <div class="tab-content">
        <div class="tab-pane active" id="all" role="tabpanel">
            <div class="product-slider product-block-wrapper">
                <div class="prodcut-item">
                    <div class="porduct-image bg-light">
                        <span class="offer-lable font-16 color-primary">24%</span>
                        <figure>
                            <img src="assets/images/door1.png" alt="" />
                        </figure>
                        <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm cart-btn">Order Now</a>
                    </div> <!-- Product Image -->
                    <div class="product-content d-flex justify-content-between flex-wrap">
                        <div class="product-name">
                            <a href="#" class="font-22 color-secondary">Eyremount</a>
                            <span class="color-gray font-14">Mahagony 42"x96"</span>
                        </div>
                        <div class="product-price">
                            <h4 class="font-26 color-primary">$11995</h4>
                        </div>
                    </div> <!-- Product Content -->
                </div> <!-- Product item -->

                <div class="prodcut-item">
                    <div class="porduct-image bg-light">
                        <span class="offer-lable font-16 color-primary">52%</span>
                        <figure>
                            <img src="assets/images/door2.png" alt="" />
                        </figure>
                        <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm cart-btn">Order Now</a>
                    </div> <!-- Product Image -->
                    <div class="product-content d-flex justify-content-between flex-wrap">
                        <div class="product-name">
                            <a href="#" class="font-22 color-secondary">Eyremount</a>
                            <span class="color-gray font-14">Mahagony 42"x96"</span>
                        </div>
                        <div class="product-price">
                            <h4 class="font-26 color-primary">$11995</h4>
                        </div>
                    </div> <!-- Product Content -->
                </div> <!-- Product item -->

                <div class="prodcut-item">
                    <div class="porduct-image bg-light">
                        <span class="offer-lable font-16 color-primary">15%</span>
                        <figure>
                            <img src="assets/images/door3.png" alt="" />
                        </figure>
                        <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm cart-btn">Order Now</a>
                    </div> <!-- Product Image -->
                    <div class="product-content d-flex justify-content-between flex-wrap">
                        <div class="product-name">
                            <a href="#" class="font-22 color-secondary">Eyremount</a>
                            <span class="color-gray font-14">Mahagony 42"x96"</span>
                        </div>
                        <div class="product-price">
                            <h4 class="font-26 color-primary">$11995</h4>
                        </div>
                    </div> <!-- Product Content -->
                </div> <!-- Product item -->

                <div class="prodcut-item">
                    <div class="porduct-image bg-light">
                        <span class="offer-lable font-16 color-primary">42%</span>
                        <figure>
                            <img src="assets/images/door4.png" alt="" />
                        </figure>
                        <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm cart-btn">Order Now</a>
                    </div> <!-- Product Image -->
                    <div class="product-content d-flex justify-content-between flex-wrap">
                        <div class="product-name">
                            <a href="#" class="font-22 color-secondary">Eyremount</a>
                            <span class="color-gray font-14">Mahagony 42"x96"</span>
                        </div>
                        <div class="product-price">
                            <h4 class="font-26 color-primary">$11995</h4>
                        </div>
                    </div> <!-- Product Content -->
                </div> <!-- Product item -->

                <div class="prodcut-item">
                    <div class="porduct-image bg-light">
                        <span class="offer-lable font-16 color-primary">30%</span>
                        <figure>
                            <img src="assets/images/door1.png" alt="" />
                        </figure>
                        <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm cart-btn">Order Now</a>
                    </div> <!-- Product Image -->
                    <div class="product-content d-flex justify-content-between flex-wrap">
                        <div class="product-name">
                            <a href="#" class="font-22 color-secondary">Eyremount</a>
                            <span class="color-gray font-14">Mahagony 42"x96"</span>
                        </div>
                        <div class="product-price">
                            <h4 class="font-26 color-primary">$11995</h4>
                        </div>
                    </div> <!-- Product Content -->
                </div> <!-- Product item -->
            </div> <!-- Product slider -->
        </div>
        <div class="tab-pane" id="interior" role="tabpanel">
            <p class="color-primary font-18 bg-light text-center p-4">No Data Found...</p>
        </div>
        <div class="tab-pane" id="exterior" role="tabpanel">
            <p class="color-primary font-18 bg-light text-center p-4">No Data Found...</p>
        </div>
        <div class="tab-pane" id="parthardware" role="tabpanel">
            <p class="color-primary font-18 bg-light text-center p-4">No Data Found...</p>
        </div>
    </div>

    <section class="section-seprator" style="margin:4rem 0"></section>
    <!-- CREATED FOR BLANK SPACE -->

</div><!-- Door Slider Tab Content for Different Tabs [Ended here] -->