<!-- Top Header Menu Navigation [Started here] -->
<ul class="nav d-md-flex justify-content-md-center">
    <li><a routerLink="" class="active">Home</a></li>
    <li><a routerLink="/interior">Interior Doors</a></li>
    <li><a routerLink="/exterior">Exterior Doors</a></li>
    <li><a routerLink="/prehanging">Prehanging</a></li>
    <li><a routerLink="/partshardware">Parts and Hardware</a></li>
    <li><a routerLink="/designpricetools">Design and Price Tool</a></li>
    <li><a routerLink="/static/services">Services</a></li>
    <li><a routerLink="/static/contactus">Contact Us</a></li>
</ul><!-- Top Header Menu Navigation [Ended here] -->