<!-- MAIN HOME PAGE BANNER [Started here] -->
<section class="hero-wrapper">
    <div class="container">
        <div class="hero-slider-wrapper">
            <li class="slide-item">
                <div class="caption">
                    <span class="font-24 color-primary">{{CompanyName}}</span>
                    <h1 class="font-80">{{BannerWebsiteTitle}}</h1>
                    <p>{{BannerWebsiteTagLine}}</p>
                    <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm">Shop New Collection</a>
                </div> <!-- Content for slide -->

                <div class="product-wrapper">
                    <figure>
                        <img src="assets/images/doors.png">
                    </figure>
                </div>
            </li> <!-- Slide ended  -->


            <li class="slide-item">
                <div class="caption">
                    <span class="font-24 color-primary">{{CompanyName}}</span>
                    <h1 class="font-80">{{BannerWebsiteTitle}}</h1>
                    <p>{{BannerWebsiteTagLine}}</p>
                    <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm">Shop New Collection</a>
                </div> <!-- Content for slide -->

                <div class="product-wrapper">
                    <figure>
                        <img src="assets/images/doors.png">
                    </figure>
                </div>
            </li> <!-- Slide ended  -->

            <li class="slide-item">
                <div class="caption">
                    <span class="font-24 color-primary">{{CompanyName}}</span>
                    <h1 class="font-80">{{BannerWebsiteTitle}}</h1>
                    <p>{{BannerWebsiteTagLine}}</p>
                    <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-sm">Shop New Collection</a>
                </div> <!-- Content for slide -->

                <div class="product-wrapper">
                    <figure>
                        <img src="assets/images/doors.png">
                    </figure>
                </div>
            </li> <!-- Slide ended  -->
        </div>
    </div>
</section> <!--  MAIN HOME PAGE BANNER [Ended here] -->