<!-- Website Welcome Intro Section [Started here] -->
<section class="our-product-section">
    <div class="container">
        <div class="border-heading text-center">
            <div class="widget" style="margin:0;">
                <!-- CHANGE THIS TO CSS -- AMRIK -->
                <span class="heading-label color-gray font-14">
                    Quality Residential and Commercial Doors for Seattle
                    <div class="line"></div>
                </span>
                <div class="widget-inner">
                    <h2 class="font-52">Welcome To Doors Seattle</h2>
                    <p>What we are really good at however is service. Our professionally trained designers are experts
                        in
                        doors and thier use in residential applications. The team can walk you through the selection
                        process,
                        the opening requirments, the finishing, installation and use of each of our products. Our
                        primary goal
                        is 100 percent accuracy at the job site. Our people are dedicated to making that happen for you.
                    </p>
                    <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-lg">Read More</a>
                </div>
            </div>
        </div> <!-- Border Heading -->
    </div>
</section><!-- Website Welcome Intro Section [Ended here] -->