<!-- Website Welcome Intro Section [Started here] -->
<section class="our-product-section">
    <div class="container">
        <div class="border-heading text-center">
            <div class="widget" style="margin:0;">
                <!-- CHANGE THIS TO CSS -- AMRIK -->
                <span class="heading-label color-gray font-14">
                    {{this.commonService.WebsiteInfo.BannerWebsiteTagLine}}
                    <div class="line"></div>
                </span>
                <div class="widget-inner">
                    <h2 class="font-52">Welcome To {{this.commonService.WebsiteInfo.BannerWebsiteTitle}}</h2>
                    <p>{{this.commonService.WebsiteInfo.CompanyDesc}}
                    </p>
                    <a href="#" title="" class="cust_btn cust_btn-primary cust_btn-lg">Read More</a>
                </div>
            </div>
        </div> <!-- Border Heading -->
    </div>
</section><!-- Website Welcome Intro Section [Ended here] -->