<!-- Main Body [Started here] -->

<!-- Home Page Slider -->
<app-homebanner></app-homebanner>

<!-- Website Welcome Intro Section -->
<app-websiteintro></app-websiteintro>
<!-- Website Welcome Intro Section -->

<!-- Products and Main Body Section -->
<section class="product-section">
  <!-- Speciality Doors Section -->
  <div class="container">
    <h2 class="border-heading text-center font-52">Specialty Doors</h2>

    <!-- Int 1. Door Slider Tab Content for Interior Traditional Paint Grade Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingIntPaintGrade"></app-doorslider>

    <!-- Int 2. Door Slider Tab Content for Interior Traditional Stain Grade Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingIntStainGrade"></app-doorslider>

    <!-- Int 3. Door Slider Tab Content for Interior Contemporary Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingIntContemp"></app-doorslider>

    <!-- Ext 1. Door Slider Tab Content for Exterior Traditional Paint Grade Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingExtPaintGrade"></app-doorslider>

    <!-- Ext 2. Door Slider Tab Content for Exterior Traditional Stain Grade Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingExtStainGrade"></app-doorslider>

    <!-- Ext 3. Door Slider Tab Content for Exterior Contemporary Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingExtContemp"></app-doorslider>

    <!-- Ext 4. Door Slider Tab Content for Exterior French Doors TAB -->
    <app-doorslider [tabHeading]="tabHeadingExtFrench"></app-doorslider>

    <!-- Oth 1. Door Slider Tab Content for Hardware TAB -->
    <app-doorslider [tabHeading]="tabHeadingHardware"></app-doorslider>

    <!-- Oth 2. Door Slider Tab Content for Installation Services TAB -->
    <app-doorslider [tabHeading]="tabHeadingInstallService"></app-doorslider>

    <!-- Oth 3. Door Slider Tab Content for Finishing TAB -->
    <app-doorslider [tabHeading]="tabHeadingFinishing"></app-doorslider>

  </div>
</section><!-- Main Body [Ended here] -->