<!-- Footer Section of the website-->
<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="footer-widget-heading d-flex align-items-center">
                            <figure>
                                <img src="assets/images/icon_mail.png" alt="" />
                            </figure>
                            <h4 class="font-26">Send a Message</h4>
                        </div>

                        <p>Tell us the reason for your query and we’ll give you an answer.</p>
                        <a href="mailto:info@doorex.com">info@doorex.com</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="footer-widget-heading d-flex align-items-center">
                            <figure>
                                <img src="assets/images/icon_phone.png" alt="" />
                            </figure>
                            <h4 class="font-26">Make A Call</h4>
                        </div>

                        <p>If you have any questions, just call us and our manager will help you.</p>
                        <a href="tel:18882382687">Toll Free: 1.888.238.2687</a>
                        <a href="tel:6046771144">Tel: 604.677.1144</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="footer-widget">
                        <div class="footer-widget-heading d-flex align-items-center">
                            <figure>
                                <img src="assets/images/icon_address.png" alt="" />
                            </figure>
                            <h4 class="font-26">Visit To Us</h4>
                        </div>

                        <p>Daily deliveries though <br>out USA & Canada</p>
                        <address>
                            Daily deliveries though <br>
                            out USA & Canada
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                    <p>Copyright ©2010 by Doors Seattle. All rights reserved. Website production by Department of MIS,
                        Door
                        Express.</p>
                </div>

                <div
                    class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-md-flex align-items-md-center justify-content-md-end">
                    <ul>
                        <li><a href="#" title="">Copyright</a></li>
                        <li><a href="#" title="">Disclaimer</a></li>
                        <li><a routerLink="/static/privacypolicy" title="">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="scrollup" id="scrolltotop-btn"><i class='fa fa-chevron-up' aria-hidden='true'></i></div> -->
</footer>