<!-- Copyright Page Content [Started here] -->
<div class="container">
    <div class="text-center p-3">
        <div class="form-group">
            <h2 class="font-52">Copyright</h2>
        </div>

        <!-- Copyright Internal Content [Started here]-->
        <div class="form-group border border-none p-3">
            <label for="">
                Copyright content will go here...
            </label>
        </div>
        <!-- Copyright Internal Content [Ended here]-->
    </div>
</div><!-- Copyright Page Content [Ended here] -->