<!-- Privacy Policy Page Content [Started here] -->
<div class="container">
    <div class="text-center p-3">
        <div class="form-group">
            <h2 class="font-52">Privacy Policy</h2>
        </div>

        <!-- Privacy Policy Internal Content [Started here]-->
        <div class="form-group border border-none p-3">
            <label for="">
                Privacy policy content will go here...
            </label>
        </div>
        <!-- Privacy Policy Internal Content [Ended here]-->
    </div>
</div><!-- Privacy Policy Page Content [Ended here] -->